@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
.input-default{
  @apply bg-transparent;
}

.input-default label{
  @apply font-medium text-gray-800;
}

.input-default input{
  @apply bg-gray-100 border-gray-800 rounded-md;
}
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  /* IE e Edge */
  scrollbar-width: none;
  /* Firefox */
}

